.navbar-brand {
    color:#ffffff !important;
}

.bg-dark {
    background-color: #2e8be8!important;
}
ul li a{
    color:#292424!important;
}
ul li a:hover{
    color: #ffffff !important;
    background-color: rgb(71 72 71 / 21%) !important;
}


.amr{
    background-color:#e5e6e6;
}
img{
    height: 300px;
}
.owl-prev span, .owl-next span {
    background-color: #cec0c0 !important;
    font-size: 30px !important;
    padding: 3px 20px !important;
    padding-bottom: 7px !important;
}
